body {
  margin: 0;
  font-family: 'Comfortaa';
  background-image: url('./assests/photo-1523821741446-edb2b68bb7a0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
